.richedit-root {
    border: 1px solid black;
    background-color: lightgray;
}

.richedit-input {
    width: 100%;
    min-height: 100px;
    background-color: white;

    a {
        color: red;
    }
}

.richedit-input-html {
    width: 100%;
    background-color: white;
    font-family: monospace;
}

.richedit-buttons {
    user-select: none;
}
.richedit-buttons button {
    cursor: pointer;
}